{% extends "layout.html" %}

{% block content %}
<h2>Expense History</h2>
<table class="table table-striped mt-3">
    <thead>
        <tr>
            <th>Amount</th>
            <th>Category</th>
            <th>Note</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for expense in expenses %}
        <tr>
            <td>{{ expense[0] }}</td>
            <td>{{ expense[1] }}</td>
            <td>{{ expense[2] }}</td>
            <td>{{ expense[3] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
